In [57]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\zuppe\anaconda3\lib\site-packages (4.66.4)
Requirement already satisfied: colorama in c:\users\zuppe\anaconda3\lib\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:

import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/zuppe/OneDrive/Desktop/data science/python/data.csv', sep=',', dtype={6: str})
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

# Extract all trips with trip_distance larger than 50

In [4]:
df[df['trip_distance']> 50].head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.0,0.0,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.0,0.0,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.0,0.0,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.0,0.0,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.0,0.0,0.0,0.00,12.24,0.3,242.54,0.0

---

# Extract all trips where payment_type is missing

In [7]:
df[df['payment_type'].isnull()]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

---

# For each (PULocationID, DOLocationID) pair, determine the number of trips

In [9]:
df.groupby(['PULocationID', 'DOLocationID'])['PULocationID'].agg(count='count')

                           count
PULocationID DOLocationID
1            1               638
             50                1
             68                1
             138               2
             140               1
...                          ...
265          259               2
             261               1
             263               4
             264             317
             265            2508

[31277 rows x 1 columns]

# Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [11]:
bad = pd.DataFrame()
bad = df[df['VendorID'].isnull() | df['passenger_count'].isnull() | df['store_and_fwd_flag'].isnull() | df['payment_type'].isnull()]
df_clean = df.drop(index=bad.index)
df_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

In [13]:
bad = pd.DataFrame()
bad = df[df['VendorID'].isnull() & df['passenger_count'].isnull() & df['store_and_fwd_flag'].isnull() & df['payment_type'].isnull()]
df_clean = df.drop(index=bad.index)
df_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

# Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [15]:
df_clean['duration'] = pd.to_datetime(df_clean['tpep_dropoff_datetime']) - pd.to_datetime(df_clean['tpep_pickup_datetime'])
df_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0 days 00:14:14
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,0 days 00:19:00
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,0 days 00:16:17
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,0 days 00:09:38
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0 days 00:01:04

# For each pickup location, determine how many trips have started there.

In [17]:
df_clean.groupby('PULocationID')['PULocationID'].agg(count='count')
# dropna=true di defualt quindi elimina tutti i campi nulli

               count
PULocationID
1                753
2                  3
3                 70
4               9902
5                 39
...              ...
261            34229
262            85591
263           123997
264            43779
265             3090

[260 rows x 1 columns]

# Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

1. abbiamo tradormato i valori in data
2. abbiamo trasformato la data in secondi
3. abbiamo creato i bins come intervalli di di 30 minuti
4. abbiamo creato le labels dei singoli intervalli di 30 minuti
5. abbiamo assegnato ad ogni orario l'intervallo corrispondente con la funzione cut

In [19]:

df_clean['pickup_time_cluster'] = pd.to_datetime(df_clean['tpep_pickup_datetime'])
df_clean['pickup_time_cluster'] = (df_clean['pickup_time_cluster'].dt.hour * 3600 + df_clean['pickup_time_cluster'].dt.minute * 60 + df_clean['pickup_time_cluster'].dt.second)

In [21]:
bins = [i * 1800 for i in range(49)]
bins_time = [f"{(secondi // 3600):02}:{((secondi % 3600) // 60):02}" for secondi in bins]
labels = [f"{bins_time[i]} - {bins_time[i+1]}" for i in range(len(bins_time)-1)]

df_clean['pickup_time_cluster'] = pd.cut(df_clean['pickup_time_cluster'], bins=bins, labels=labels)
df_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_time_cluster
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00 - 00:30
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30 - 01:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30 - 01:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30 - 01:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00 - 00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0 days 00:14:14,23:30 - 24:00
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,0 days 00:19:00,23:00 - 23:30
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,0 days 00:16:17,23:00 - 23:30
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,0 days 00:09:38,23:30 - 24:00
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0 days 00:01:04,23:00 - 23:30

In [23]:
df[df['payment_type'] == 5.0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
4061635,1.0,2020-01-21 17:46:46,2020-01-21 17:52:29,1.0,0.0,1.0,N,145,145,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# For each interval, determine the average number of passengers and the average fare amount.

In [21]:
bad = pd.DataFrame()
bad = df_clean[df_clean['total_amount'] < 0]
df_clean = df_clean.drop(index=bad.index)
df_clean.groupby(['pickup_time_cluster']).agg(passenger_count=('passenger_count','mean'),fare_amount=('fare_amount','mean'))

                     passenger_count  fare_amount
pickup_time_cluster
0                           1.746835    14.220506
1                           1.593220    12.127119
2                           1.891304    12.076087
3                           1.520000    14.970000
4                           1.519231    13.673077
...                              ...          ...
86395                       1.457143    16.185714
86396                       1.750000    12.000000
86397                       1.341463    16.158537
86398                       1.546875    16.171875
86399                       1.811321    15.716981

[86400 rows x 2 columns]

# For each payment type and each interval, determine the average fare amount

In [23]:

ex_nine = df_clean.groupby(['payment_type', 'pickup_time_cluster']).agg(fare_amount_nine =('fare_amount','mean'))

ex_nine

                                  fare_amount_nine
payment_type pickup_time_cluster
1.0          0                           12.802927
             1                           11.102273
             2                           12.257576
             3                           16.564103
             4                           14.277778
...                                            ...
4.0          86351                       18.000000
             86363                       11.000000
             86369                        2.500000
             86376                        4.000000
5.0          64006                        0.000000

[203150 rows x 1 columns]

# For each payment type, determine the interval when the average fare amount is maximum

In [25]:
avg_fare=df_clean.groupby(['payment_type'], observed=True)['fare_amount'].idxmax()
avg_fare

payment_type
1.0    1024290
2.0    4049543
3.0    2449406
4.0    1352625
5.0    4061635
Name: fare_amount, dtype: int64

# For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [27]:
cluster = pd.DataFrame()
cluster = df_clean.groupby(['payment_type', 'pickup_time_cluster']).agg(tip = ('tip_amount','sum'), fare_amount=('fare_amount','sum'))
cluster['rapporto']= cluster['tip']/cluster['fare_amount']
cluster.groupby(['payment_type'], observed=True)['rapporto'].idxmax()

payment_type
1.0    (1.0, 14781)
2.0     (2.0, 2971)
3.0    (3.0, 75711)
4.0    (4.0, 71090)
5.0             NaN
Name: rapporto, dtype: object

# Find the location with the highest average fare amount

In [29]:
max_location = df_clean.groupby(['PULocationID', 'DOLocationID'])['fare_amount'].mean().idxmax()
max_fare_amount = df_clean.groupby(['PULocationID', 'DOLocationID'])['fare_amount'].mean().max()
(max_location, max_fare_amount)

((150, 265), 317.5)

# Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [31]:
common = pd.DataFrame()
common = df_clean.groupby(['PULocationID','DOLocationID']).agg(tip = ('DOLocationID','count'))
common_sorted = common.sort_values(by=['PULocationID', 'tip'], ascending=[True, False])
common_top_5 = common_sorted.groupby('PULocationID').head(5)

common_top_5

                            tip
PULocationID DOLocationID
1            1              630
             264            105
             265              4
             138              2
             50               1
...                         ...
265          265           2454
             264            313
             1               76
             48              18
             132              8

[1260 rows x 1 columns]

# On the common dataframe, for each payment type and each interval, determine the average fare amount

In [33]:
merged_df = pd.merge(common_top_5, df_clean, how='inner', on=['PULocationID','DOLocationID'])
ex_fouthteen = merged_df.groupby(['payment_type','pickup_time_cluster']).agg(fare_amount_ex_fourthteen = ('fare_amount','mean'))
ex_fouthteen

                                  fare_amount_ex_fourthteen
payment_type pickup_time_cluster
1.0          0                                    15.060000
             1                                     5.444444
             2                                     9.500000
             3                                     6.375000
             4                                     5.357143
...                                                     ...
4.0          86263                                 5.500000
             86286                                19.000000
             86319                                 0.000000
             86376                                 4.000000
5.0          64006                                 0.000000

[179621 rows x 1 columns]

# Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [35]:
merged_fare = pd.merge(ex_fouthteen, ex_nine, how='inner', on=['payment_type','pickup_time_cluster'])
merged_fare['difference']=merged_fare['fare_amount_ex_fourthteen']-merged_fare['fare_amount_nine']
merged_fare

                                  fare_amount_ex_fourthteen  fare_amount_nine  \
payment_type pickup_time_cluster
1.0          0                                    15.060000         12.802927
             1                                     5.444444         11.102273
             2                                     9.500000         12.257576
             3                                     6.375000         16.564103
             4                                     5.357143         14.277778
...                                                     ...               ...
4.0          86263                                 5.500000          5.500000
             86286                                19.000000         19.000000
             86319                                 0.000000          0.000000
             86376                                 4.000000          4.000000
5.0          64006                                 0.000000          0.000000

                                  difference
payment_type pickup_time_cluster
1.0          0                      2.257073
             1                     -5.657828
             2                     -2.757576
             3                    -10.189103
             4                     -8.920635
...                                      ...
4.0          86263                  0.000000
             86286                  0.000000
             86319                  0.000000
             86376                  0.000000
5.0          64006                  0.000000

[179621 rows x 3 columns]

# Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [37]:
merged_fare['ratio']=merged_fare['fare_amount_nine']/merged_fare['difference'].replace(0, np.nan)
merged_fare_clean = merged_fare.dropna()
merged_fare_clean

                                  fare_amount_ex_fourthteen  fare_amount_nine  \
payment_type pickup_time_cluster
1.0          0                                    15.060000         12.802927
             1                                     5.444444         11.102273
             2                                     9.500000         12.257576
             3                                     6.375000         16.564103
             4                                     5.357143         14.277778
...                                                     ...               ...
4.0          84332                                10.000000         15.500000
             84821                                 2.500000          3.250000
             84914                                 4.500000         19.000000
             85043                                 2.500000         30.000000
             85182                                 9.500000          9.750000

                                  difference      ratio
payment_type pickup_time_cluster
1.0          0                      2.257073   5.672358
             1                     -5.657828  -1.962285
             2                     -2.757576  -4.445055
             3                    -10.189103  -1.625668
             4                     -8.920635  -1.600534
...                                      ...        ...
4.0          84332                 -5.500000  -2.818182
             84821                 -0.750000  -4.333333
             84914                -14.500000  -1.310345
             85043                -27.500000  -1.090909
             85182                 -0.250000 -39.000000

[167898 rows x 4 columns]

In [163]:
import pandas as pd

# 1) Prepara i datetime
df = df_clean.copy().reset_index(drop=True)
df['tpep_pickup_datetime']  = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

n = len(df)
df['idx'] = range(n)

# 2) Costruisci le tabelle "left" (dropoff) e "right" (pickup) con gli indici originali
left_cols  = ['idx','VendorID','DOLocationID','tpep_dropoff_datetime']
right_cols = ['idx','VendorID','PULocationID','tpep_pickup_datetime']

# 3) Per ogni gruppo (VendorID, DOLocationID) esegui merge_asof
matches_list = []
for (vid, dol), grp in df.groupby(['VendorID','DOLocationID'], sort=False):
    # left: dropoff
    left_grp = (
        grp[left_cols]
        .rename(columns={'idx':'i','tpep_dropoff_datetime':'dropoff_time'})
        .sort_values('dropoff_time')
        .reset_index(drop=True)
    )
    # right: pickup (rinomino PULocationID in DOLocationID per match)
    right_grp = (
        grp[right_cols]
        .rename(columns={'idx':'j','PULocationID':'DOLocationID','tpep_pickup_datetime':'pickup_time'})
        .sort_values('pickup_time')
        .reset_index(drop=True)
    )
    # merge_asof entro 120s
    m = pd.merge_asof(
        left_grp, right_grp,
        left_on='dropoff_time', right_on='pickup_time',
        direction='forward',
        tolerance=pd.Timedelta(seconds=120)
    )
    matches_list.append(m)

# 4) Unisci i risultati e prendi solo le coppie valide
matches = pd.concat(matches_list, ignore_index=True)
matches = matches.dropna(subset=['j'])
pairs = list(zip(matches['i'].astype(int), matches['j'].astype(int)))

# 5) Union-Find (DSU) per aggregare gli indici in catene
parent = list(range(n))
def find(x):
    while parent[x] != x:
        parent[x] = parent[parent[x]]
        x = parent[x]
    return x

def union(a, b):
    ra, rb = find(a), find(b)
    if ra != rb:
        parent[rb] = ra

for a, b in pairs:
    union(a, b)

# 6) Assegna un ID di chain a ogni root
chain_map = {}
next_id   = 1
chain     = [None] * n

for idx in range(n):
    r = find(idx)
    if r not in chain_map:
        chain_map[r] = next_id
        next_id += 1
    chain[idx] = chain_map[r]

# 7) Aggiungi la colonna chain al DataFrame originale
df_clean['chain'] = chain

df_clean

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_time_cluster,chain,chain_values
8483,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,1.0,2.20,1.0,0,68,170,1.0,...,0.5,2.85,0.0,0.3,17.15,2.5,0 days 00:13:03,0,1,NaN
3083,1.0,2020-01-01 00:00:03,2020-01-01 00:13:04,2.0,3.00,1.0,0,79,162,1.0,...,0.5,2.00,0.0,0.3,17.30,2.5,0 days 00:13:01,3,2,NaN
5760,1.0,2020-01-01 00:00:05,2020-01-01 00:26:30,0.0,3.40,1.0,0,264,68,1.0,...,0.5,4.35,0.0,0.3,26.15,2.5,0 days 00:26:25,5,3,NaN
5050,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,3.0,0.60,1.0,0,75,75,2.0,...,0.5,0.00,0.0,0.3,5.80,0.0,0 days 00:03:19,7,4,NaN
2555,1.0,2020-01-01 00:00:25,2020-01-01 00:05:59,1.0,1.70,1.0,0,145,179,2.0,...,0.5,0.00,0.0,0.3,8.30,0.0,0 days 00:05:34,25,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4269480,2.0,2020-07-10 11:34:11,2020-07-10 11:42:41,1.0,1.07,1.0,0,236,262,1.0,...,0.5,2.26,0.0,0.3,13.56,2.5,0 days 00:08:30,41651,960404,NaN
4282277,2.0,2020-07-31 18:50:41,2020-07-31 18:54:12,1.0,0.72,1.0,0,236,43,2.0,...,0.5,0.00,0.0,0.3,9.30,2.5,0 days 00:03:31,67841,960405,NaN
275044,2.0,2021-01-02 00:22:00,2021-01-02 00:36:50,1.0,1.56,1.0,0,142,161,2.0,...,0.5,0.00,0.0,0.3,14.80,2.5,0 days 00:14:50,1320,960406,NaN
275045,2.0,2021-01-02 00:44:08,2021-01-02 00:58:56,1.0,2.32,1.0,0,170,148,2.0,...,0.5,0.00,0.0,0.3,15.80,2.5,0 days 00:14:48,2648,960407,NaN
275046,2.0,2021-01-02 01:12:10,2021-01-02 01:25:01,1.0,1.87,1.0,0,90,148,1.0,...,0.5,2.86,0.0,0.3,17.16,2.5,0 days 00:12:51,4330,960408,NaN

In [169]:
df_clean[df_clean['chain'] == 6]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_time_cluster,chain,chain_values
11680,1.0,2020-01-01 00:00:26,2020-01-01 00:08:31,4.0,1.1,1.0,0,113,107,1.0,...,0.5,20.00,0.0,0.3,30.80,2.5,0 days 00:08:05,26,6,NaN
4253,1.0,2020-01-01 00:01:35,2020-01-01 00:07:47,1.0,1.2,1.0,0,170,107,1.0,...,0.5,2.05,0.0,0.3,12.35,2.5,0 days 00:06:12,95,6,NaN
5348,1.0,2020-01-01 00:02:41,2020-01-01 00:21:07,1.0,2.5,1.0,0,158,107,1.0,...,0.5,0.86,0.0,0.3,18.16,2.5,0 days 00:18:26,161,6,NaN
1758,1.0,2020-01-01 00:04:00,2020-01-01 00:13:30,2.0,1.8,1.0,0,148,107,1.0,...,0.5,2.45,0.0,0.3,14.75,2.5,0 days 00:09:30,240,6,NaN
4914,1.0,2020-01-01 00:04:47,2020-01-01 00:17:28,1.0,1.6,1.0,0,107,107,1.0,...,0.5,3.30,0.0,0.3,16.60,2.5,0 days 00:12:41,287,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49008,1.0,2020-01-01 03:24:34,2020-01-01 03:28:28,2.0,0.8,1.0,0,170,107,1.0,...,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:03:54,12274,6,NaN
45428,1.0,2020-01-01 03:27:18,2020-01-01 03:28:38,1.0,0.0,1.0,0,107,107,2.0,...,0.5,0.00,0.0,0.3,6.80,2.5,0 days 00:01:20,12438,6,NaN
44076,1.0,2020-01-01 03:29:12,2020-01-01 03:41:56,1.0,1.8,1.0,0,232,107,2.0,...,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:12:44,12552,6,NaN
50820,1.0,2020-01-01 03:42:04,2020-01-01 03:54:13,1.0,3.5,1.0,0,239,107,2.0,...,0.5,0.00,0.0,0.3,16.30,2.5,0 days 00:12:09,13324,6,NaN
46501,1.0,2020-01-01 03:54:15,2020-01-01 04:00:59,2.0,1.2,1.0,0,79,107,1.0,...,0.5,1.50,0.0,0.3,11.80,2.5,0 days 00:06:44,14055,6,NaN

In [125]:
df_clean[row_i['tpep_pickup_datetime'] - row_prev['tpep_dropoff_datetime']).total_seconds() <= 120]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, duration, pickup_time_cluster, chain, chain_values]
Index: []

[0 rows x 22 columns]

In [127]:
df_clean_final['chain_values'].duplicated().sum()

6178877

In [167]:
df_clean.head(40)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_time_cluster,chain,chain_values
8483,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,1.0,2.2,1.0,0,68,170,1.0,...,0.5,2.85,0.00,0.3,17.15,2.5,0 days 00:13:03,0,1,NaN
3083,1.0,2020-01-01 00:00:03,2020-01-01 00:13:04,2.0,3.0,1.0,0,79,162,1.0,...,0.5,2.00,0.00,0.3,17.30,2.5,0 days 00:13:01,3,2,NaN
5760,1.0,2020-01-01 00:00:05,2020-01-01 00:26:30,0.0,3.4,1.0,0,264,68,1.0,...,0.5,4.35,0.00,0.3,26.15,2.5,0 days 00:26:25,5,3,NaN
5050,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,3.0,0.6,1.0,0,75,75,2.0,...,0.5,0.00,0.00,0.3,5.80,0.0,0 days 00:03:19,7,4,NaN
2555,1.0,2020-01-01 00:00:25,2020-01-01 00:05:59,1.0,1.7,1.0,0,145,179,2.0,...,0.5,0.00,0.00,0.3,8.30,0.0,0 days 00:05:34,25,5,NaN
11680,1.0,2020-01-01 00:00:26,2020-01-01 00:08:31,4.0,1.1,1.0,0,113,107,1.0,...,0.5,20.00,0.00,0.3,30.80,2.5,0 days 00:08:05,26,6,NaN
9798,1.0,2020-01-01 00:00:41,2020-01-01 00:16:23,0.0,2.2,1.0,0,90,4,1.0,...,0.5,3.80,0.00,0.3,19.10,2.5,0 days 00:15:42,41,7,NaN
1131,1.0,2020-01-01 00:00:48,2020-01-01 00:24:26,2.0,11.7,1.0,0,132,188,2.0,...,0.5,0.00,0.00,0.3,34.80,0.0,0 days 00:23:38,48,8,NaN
8901,1.0,2020-01-01 00:00:49,2020-01-01 00:39:52,1.0,9.9,1.0,0,107,244,1.0,...,0.5,8.05,0.00,0.3,48.35,2.5,0 days 00:39:03,49,9,NaN
10545,1.0,2020-01-01 00:00:50,2020-01-01 00:02:32,2.0,0.3,1.0,0,158,158,2.0,...,0.5,0.00,0.00,0.3,7.30,2.5,0 days 00:01:42,50,10,NaN
4373,1.0,2020-01-01 00:00:57,2020-01-01 00:15:21,1.0,2.6,1.0,0,79,13,1.0,...,0.5,3.15,0.00,0.3,18.95,2.5,0 days 00:14:24,57,11,NaN
1761,1.0,2020-01-01 00:00:59,2020-01-01 00:22:31,2.0,12.2,1.0,0,88,119,2.0,...,0.5,0.00,0.00,0.3,37.30,2.5,0 days 00:21:32,59,12,NaN
12297,1.0,2020-01-01 00:01:01,2020-01-01 00:04:46,1.0,0.5,1.0,0,236,236,2.0,...,0.5,0.00,0.00,0.3,8.30,2.5,0 days 00:03:45,61,13,NaN
2053,1.0,2020-01-01 00:01:01,2020-01-01 00:11:51,1.0,1.0,1.0,0,249,79,1.0,...,0.5,1.00,0.00,0.3,12.80,2.5,0 days 00:10:50,61,14,NaN
11830,1.0,2020-01-01 00:01:07,2020-01-01 00:15:50,1.0,8.1,1.0,0,138,15,1.0,...,0.5,3.00,0.00,0.3,27.80,0.0,0 days 00:14:43,67,15,NaN
8671,1.0,2020-01-01 00:01:14,2020-01-01 00:36:40,1.0,9.6,1.0,0,166,173,1.0,...,0.5,5.00,0.00,0.3,39.80,2.5,0 days 00:35:26,74,16,NaN
9134,1.0,2020-01-01 00:01:15,2020-01-01 00:09:42,1.0,1.0,1.0,0,249,79,1.0,...,0.5,2.05,0.00,0.3,12.35,2.5,0 days 00:08:27,75,14,NaN
7579,1.0,2020-01-01 00:01:17,2020-01-01 00:23:50,1.0,17.4,2.0,0,132,74,1.0,...,0.5,14.70,6.12,0.3,73.62,0.0,0 days 00:22:33,77,17,NaN
10084,1.0,2020-01-01 00:01:21,2020-01-01 00:05:47,1.0,0.9,1.0,0,231,87,1.0,...,0.5,1.86,0.00,0.3,11.16,2.5,0 days 00:04:26,81,18,NaN
8858,1.0,2020-01-01 00:01:21,2020-01-01 00:12:01,2.0,1.4,1.0,0,79,234,1.0,...,0.5,2.45,0.00,0.3,14.75,2.5,0 days 00:10:40,81,19,NaN
8866,1.0,2020-01-01 00:01:22,2020-01-01 00:16:01,0.0,3.7,1.0,0,125,25,1.0,...,0.5,3.55,0.00,0.3,21.35,2.5,0 days 00:14:39,82,20,NaN
11128,1.0,2020-01-01 00:01:30,2020-01-01 00:07:32,1.0,1.0,1.0,0,42,152,2.0,...,0.5,0.00,0.00,0.3,7.30,0.0,0 days 00:06:02,90,21,NaN
2936,1.0,2020-01-01 00:01:31,2020-01-01 00:10:24,1.0,2.1,1.0,0,263,41,1.0,...,0.5,1.28,0.00,0.3,14.08,2.5,0 days 00:08:53,91,22,NaN
5938,1.0,2020-01-01 00:01:32,2020-01-01 00:08:26,1.0,0.8,1.0,0,43,229,1.0,...,0.5,1.00,0.00,0.3,11.30,2.5,0 days 00:06:54,92,23,NaN
4193,1.0,2020-01-01 00:01:33,2020-01-01 00:28:57,1.0,10.9,1.0,0,132,71,4.0,...,0.5,0.00,0.00,0.3,34.30,0.0,0 days 00:27:24,93,24,NaN
4253,1.0,2020-01-01 00:01:35,2020-01-01 00:07:47,1.0,1.2,1.0,0,170,107,1.0,...,0.5,2.05,0.00,0.3,12.35,2.5,0 days 00:06:12,95,6,NaN
8370,1.0,2020-01-01 00:01:39,2020-01-01 00:12:56,2.0,3.0,1.0,0,148,13,1.0,...,0.5,3.05,0.00,0.3,18.35,2.5,0 days 00:11:17,99,25,NaN
1487,1.0,2020-01-01 00:01:40,2020-01-01 00:01:52,1.0,0.0,2.0,0,79,79,1.0,...,0.5,12.25,6.12,0.3,73.67,2.5,0 days 00:00:12,100,14,NaN
2767,1.0,2020-01-01 00:01:41,2020-01-01 00:11:14,1.0,1.0,1.0,0,161,233,2.0,...,0.5,0.00,0.00,0.3,11.30,2.5,0 days 00:09:33,101,26,NaN
6976,1.0,2020-01-01 00:01:45,2020-01-01 00:06:16,1.0,0.8,1.0,0,236,237,1.0,...,0.5,1.40,0.00,0.3,10.70,2.5,0 days 00:04:31,105,27,NaN
8923,1.0,2020-01-01 00:01:51,2020-01-01 00:26:10,2.0,15.7,1.0,0,132,145,1.0,...,0.5,0.00,0.00,0.3,44.30,0.0,0 days 00:24:19,111,28,NaN
194,1.0,2020-01-01 00:01:54,2020-01-01 00:26:47,1.0,2.3,1.0,0,161,249,1.0,...,0.5,4.05,0.00,0.3,24.35,2.5,0 days 00:24:53,114,29,NaN
7236,1.0,2020-01-01 00:01:55,2020-01-01 00:04:34,2.0,1.0,1.0,0,141,140,1.0,...,0.5,1.75,0.00,0.3,10.55,2.5,0 days 00:02:39,115,30,NaN
1206,1.0,2020-01-01 00:01:56,2020-01-01 00:10:12,1.0,0.7,1.0,0,170,161,1.0,...,0.5,0.00,0.00,0.3,10.80,2.5,0 days 00:08:16,116,31,NaN
1939,1.0,2020-01-01 00:01:59,2020-01-01 00:05:14,1.0,0.7,1.0,0,181,181,2.0,...,0.5,0.00,0.00,0.3,5.80,0.0,0 days 00:03:15,119,32,NaN
12873,1.0,2020-01-01 00:02:06,2020-01-01 00:07:37,1.0,1.0,1.0,0,238,24,2.0,...,0.5,0.00,0.00,0.3,7.30,0.0,0 days 00:05:31,126,33,NaN
12478,1.0,2020-01-01 00:02:06,2020-01-01 00:11:20,1.0,1.8,1.0,0,68,170,2.0,...,0.5,0.00,0.00,0.3,11.80,2.5,0 days 00:09:14,126,1,NaN
9699,1.0,2020-01-01 00:02:06,2020-01-01 00:18:49,1.0,3.7,1.0,0,100,232,2.0,...,0.5,0.00,0.00,0.3,19.30,2.5,0 days 00:16:43,126,34,NaN
8293,1.0,2020-01-01 00:02:07,2020-01-01 00:10:15,0.0,1.8,1.0,0,170,224,1.0,...,0.5,1.00,0.00,0.3,13.30,2.5,0 days 00:08:08,127,35,NaN
5364,1.0,2020-01-01 00:02:07,2020-01-01 00:22:11,1.0,9.3,1.0,0,79,223,2.0,...,0.5,0.00,0.00,0.3,31.80,2.5,0 days 00:20:04,127,36,NaN

In [129]:
df_clean.iloc[59:70]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_time_cluster,chain,chain_values
5737,1.0,2020-01-01 00:03:07,2020-01-01 00:30:42,1.0,17.0,4.0,0,138,265,2.0,...,0.5,0.00,0.0,0.3,50.80,0.0,0 days 00:27:35,187,NaN,NaN
1603,1.0,2020-01-01 00:03:11,2020-01-01 00:21:13,1.0,4.2,1.0,0,68,238,1.0,...,0.5,6.20,0.0,0.3,27.00,2.5,0 days 00:18:02,191,NaN,NaN
8290,1.0,2020-01-01 00:03:11,2020-01-01 00:28:13,1.0,6.9,1.0,0,148,75,2.0,...,0.5,0.00,0.0,0.3,27.30,2.5,0 days 00:25:02,191,NaN,NaN
9657,1.0,2020-01-01 00:03:13,2020-01-01 00:17:50,1.0,6.2,1.0,0,170,97,1.0,...,0.5,4.75,0.0,0.3,28.55,2.5,0 days 00:14:37,193,NaN,NaN
12988,1.0,2020-01-01 00:03:16,2020-01-01 00:06:10,1.0,0.6,1.0,0,137,170,2.0,...,0.5,0.00,0.0,0.3,8.30,2.5,0 days 00:02:54,196,NaN,63.0
8537,1.0,2020-01-01 00:03:18,2020-01-01 00:26:13,1.0,0.0,1.0,0,228,210,1.0,...,0.5,0.00,0.0,0.3,31.00,0.0,0 days 00:22:55,198,NaN,NaN
12178,1.0,2020-01-01 00:03:19,2020-01-01 00:15:54,1.0,0.9,1.0,0,163,162,2.0,...,0.5,0.00,0.0,0.3,12.80,2.5,0 days 00:12:35,199,NaN,NaN
10048,1.0,2020-01-01 00:03:23,2020-01-01 00:06:45,1.0,0.7,1.0,0,249,231,1.0,...,0.5,1.65,0.0,0.3,9.95,2.5,0 days 00:03:22,203,NaN,NaN
7918,1.0,2020-01-01 00:03:25,2020-01-01 00:14:35,1.0,2.2,1.0,0,246,48,1.0,...,0.5,2.75,0.0,0.3,16.55,2.5,0 days 00:11:10,205,NaN,NaN
11900,1.0,2020-01-01 00:03:25,2020-01-01 00:11:22,1.0,0.9,1.0,0,144,79,1.0,...,0.5,2.05,0.0,0.3,12.35,2.5,0 days 00:07:57,205,NaN,NaN
589,1.0,2020-01-01 00:03:28,2020-01-01 00:07:29,1.0,1.2,1.0,0,238,166,2.0,...,0.5,0.00,0.0,0.3,9.30,2.5,0 days 00:04:01,208,NaN,NaN